*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary: hsl(158, 36%, 37%);
  --clr-secondary: hsl(30, 38%, 92%);

  --clr-dark-blue: hsl(212, 21%, 14%);
  --clr-grayish-blue: hsl(228, 12%, 48%);
  --clr-white: hsl(0, 0%, 100%);
}

body {
  height: 100vh;
}

header {
  background: url('../images/image-product-mobile.jpg') no-repeat center
    center/cover;
  width: 100%;
  height: 300px;
}

a {
  display: block;
  text-decoration: none;
}

a:visited {
  color: inherit;
}
